*.class

# Package Files #
*.jar
*.war
*.ear

# Eclipse project files
.classpath
.project

# Intellij project files
*.iml
*.ipr
*.iws
.idea/

/bin
/out

# Temporarily don't include csv's while 
# we work out the heuristics
*.csv
